<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Hudson github plugin</title>
   <!-- Homepage CSS -->
   <link rel="stylesheet" href="./css/screen.css" type="text/css" media="screen, projection" />
</head>

<body>
  <a href="http://github.com/juretta/hudson-github-plugin"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>

  <div id="container">

    <h1><a href="http://github.com/juretta/hudson-github-plugin">Hudson Github Plugin</a>
      <span class="small">by <a href="http://github.com/juretta">juretta</a></span></h1>


    {{ content }}

    <div class="footer">
      get the source code on GitHub : <a href="http://github.com/juretta/hudson-github-plugin">juretta/hudson-github-plugin</a>
    </div>

  </div>


</body>
</html>
